<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Nordcoders |{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}">
    {% block stylesheets %}
    {% endblock %}
<body>
<header>
    <div class="container top-nav">
        <div class="logo">
            <div class="burger" id="toggle-burger">&#9776;</div>
            <a href="{{ path('homepage') }}" class="logo-link">Nordcoders</a>
        </div>
        {% include '@App/includes/navbar.html.twig' %}
    </div>
</header>
<div class="container">
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
    {% block body %}
    {% endblock %}
</div>
<div class="footer">
    <div class="footer-element">Coded With
        <i class="fas fa-heart"></i>
        by Ludovic Guénet | {{ "now"|date("Y") }}</div>
    <div class="footer-element">L'objectif de ce site est de partager avec vous ce que j'apprends. Je me suis interessé
        au développement web depuis un certain temps déjà et j'ai envie de partager ça avec vous dès maintenant
    </div>
</div>
<script src="{{ asset('js/app.js') }}"></script>
{% block javascripts %}
{% endblock javascripts %}
</body>
</html>