<div class="navbar">
    <ul id="ul-list">
        <li><a href="{{ path('homepage') }}">Blog</a></li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('profile') }}">{{ app.user.username }}</a></li>
        {% else %}
            <li><a href="{{ path('login') }}">
                    <i class="fas fa-user-graduate"></i>
                </a></li>
            <li><a href="{{ path('register') }}">
                    <i class="fas fa-user-plus"></i>
                </a></li>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('binder') }}"><i class="fas fa-book"></i></a></li>
            <li><a href="{{ path('logout') }}"><i class="fas fa-door-open"></i></a></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('addpost') }}">
                    <i class="fas fa-pen-alt"></i>
                </a></li>
        {% endif %}
        <li>
            <form action="{{ path('search') }}" method="GET">
                <input class="input-search" id="search" type="text" name="q"
                       placeholder="Rechercher par titre, tags...">
            </form>
        </li>
    </ul>
</div>