<div class="navbar">
    <ul id="ul-list">
        <li><a href="{{ path('homepage') }}">Blog</a></li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
        {% else %}
            <li><a href="{{ path('login') }}"><ion-icon name="person"></ion-icon></a></li>
            <li><a href="{{ path('register') }}"><ion-icon name="person-add"></ion-icon></a></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('addpost') }}">Poster un article</a></li>
        {% endif %}
        <li>
            <form action="{{ path('search') }}" method="GET">
                <input class="input-search" id="search" type="text" name="q" placeholder="Rechercher">
            </form>
        </li>
    </ul>
</div>