{% extends "@App/layout.html.twig" %}
{% block title %} {{ parent() }} Poster un nouvel article {% endblock %}
{% block body %}
    <h1>Ecrire un nouvel article</h1>
    {{ form_start(form) }}
        {{ form_label(form.title, 'Titre') }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'input'}}) }}

        {{ form_label(form.content, 'Contenu') }}
        {{ form_errors(form.content) }}
        {{ form_widget(form.content, {'attr': {'class': 'input'}}) }}


        {{ form_label(form.tags) }}
        {{ form_errors(form.tags) }}
        {{ form_widget(form.tags, {'attr': {'class': 'input'}}) }}

        {{ form_errors(form.image) }}
        {{ form_widget(form.image, {'attr': {'class': 'input'}}) }}

        {{ form_label(form.isPublished, 'Publié ?') }}
        {{ form_errors(form.isPublished) }}
        {{ form_widget(form.isPublished) }}

    {{ form_widget(form.save, { 'label': 'Poster l\'article' }) }}
    {{ form_end(form) }}
{% endblock %}

