{% extends "@App/layout.html.twig" %}
{% block title %} {{ parent() }} Blog {% endblock %}
{% block body %}
    <div class="blog-posts">
        {% for post in posts %}
            <div class="blog-post">
                <h1>{{ post.title }}</h1>
                <em>Ecrit par <strong>{{ post.author }}</strong>, le {{ post.createdAt|date('d/m/Y') }}</em>
                {% if(post.image != null) %}
                    <a href="{{ path('viewpost', {'slug': post.slug}) }}">
                        <img class="thumb1"
                             src="{{ asset('uploads/img/') ~ post.image.id ~ '.' ~ post.image.extension }}"
                             alt="{{ post.image.alt }}">
                    </a>
                {% endif %}
                {{ post.content|truncate|raw }}
                <p>
                    {% for tag in post.tags %}
                        <strong><span class="tag"><i class="fas fa-tag"></i> {{ tag.name }}</span></strong>
                    {% endfor %}
                </p>
                <a href="{{ path('viewpost', {'slug': post.slug}) }}" class="btn">Lire la suite</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if post.id not in app.user.bookmarks%}
                     <a href="{{ path('addBookmark', {'id': post.id}) }}" class="btn"><i class="far fa-bookmark"></i> Ajouter au classeur</a>
                    {% endif %}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-warning" href="{{ path('editpost', {'id': post.id}) }}">Editer</a>
                    <form style="display:inline-block" action="{{ path('deletepost', {'id': post.id}) }}" method="post">
                        <input type="hidden" name="token" value="{{ csrf_token('delete-post') }}">
                        <button class="btn btn-danger" type="submit">Supprimer l'article</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}

        <div class="paginate-block">
            {% if pagesNbr != 0 %}
                {% for i in range(1, pagesNbr) %}
                    <span><a href="{{ path('homepage', {'page': i}) }}"
                             class="paginate {% if i == cPage %}current{% endif %}">{{ i }}</a></span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}