{% extends"@App/layout.html.twig" %}
{% block title %} {{ parent() }} Mon compte {% endblock %}
{% block body %}
    <h1>Mon compte</h1>
    {% if (app.user.avatar != null) %}
        <img width="25%" src="{{ asset('uploads/avatar/') ~ app.user.avatar }}" alt="avatar">
    {% endif %}
    {{ form_start(form) }}
    {{ form_errors(form.avatar) }}
    {{ form_row(form.avatar, {'attr': {'class' : 'input'}}) }}
    {{ form_end(form) }}
{% endblock %}